@import '../../../styles/globals.css';

/* ---section category--- */

.category-nav {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category-nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .category-nav ul {
    display: flex;
    gap: 100px;
    padding: 0;
  }
  
  .category-nav ul li {
    list-style: none;
  }
  
  .category-list {
    transition: transform 0.3s ease;
  }
  
  .category-list p {
    color: var(--white);
  }
  
  .category-list:hover p {
    color: var(--secondary-color-med);
  }
  
  .category-list:hover .circle-active {
    border: 1px solid var(--secondary-color-med);
  }
  
  .circle-active {
    width: 10px; /* 圓點的直徑 */
    height: 10px; /* 圓點的直徑 */
    border: 1px solid var(--white);
    border-radius: 50%; /* 讓它變成圓形 */
  }
  
  .gradient {
    display: none;
  }
  