.j-rtText{
  color: black;
}

.j-cartItemBox {
  border-radius: 20px;
  background-color: #fff;
  
}

.shoppingRent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.j-rentImg {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.j-rentImg img {
  width: 185px;
  height: 199px;
}

.j-rentCameraBrand {
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin-bottom: 12px;
}

.j-rentDeadLine {
  color: red;
}


.j-delBtn>button:active,
.j-delBtnfocus>button:focus,
.j-delBtn>button:not(.j-cartItem){
  border: none;
}

.j-delBtn{
  left: 92.5%;
}

@media (max-width: 1200px){
  .j-delBtn{
    left: 90%;
  }
}