.copyright-right-div {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1rem 2rem 0 2rem;
}

.copyright-right-div a {
  color: var(--black);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
}
.copyright-text {
  margin: 0 10px;
  font-size: 0.8rem;
}
