.iconcontainer {
  position: absolute;
  top: 1px;
  right: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.iconCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.iconCircle.added {
  background-color: #0d2361;
  color: white;
}

.iconText {
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 391px) {
  .iconcontainer {
    top: 5px;
    right: 25px;
  }
}

@media (max-width: 1200px) {
  .iconcontainer {
    opacity: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    right: 350px;
    top: 9px;
    display: flex !important;
    justify-content: center;
    // border: 1px solid red;
  }
}

@media (max-width: 1400px) {
  .iconcontainer {
    opacity: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    right: 35px;
    top: 9px;
    display: flex !important;
    justify-content: center;
    // border: 1px solid red;
  }
}

@media (max-width: 1000px) {
  .iconcontainer {
    opacity: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    right: 20px;
    top: 9px;
    display: flex !important;
    justify-content: center;
    // border: 1px solid red;
  }
}
