.btn-primary {
  color: #fff;
  background: #23425a;
  border-color: #23425a;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    background: #143146;
    border-color: #143146;
  }
}

.btn-outline-primary {
  color: #23425a;
  border-color: #23425a;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    color: #fff;
    background-color: #143146;
    border-color: #143146;
    box-shadow: 0 0 0 0.25rem rgba(35, 66, 90, 0.5);
  } 
}

.accordion-button{
  background-color: #143146 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-button::after{ 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3E%3Cpath fill-rule='evenodd' d='M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}

.accordion-button:not(.collapsed){
  background-color: #23425A !important;
  color: #f6f7f8 !important;
  border: none !important;
  box-shadow: none !important;
}

.form-select:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.btn-sm-radius {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.breadcrumb a {
  color: #23425a;
}

.tag-bg,
.type-bg {
  color: #fff;
  background-color: #23425a;
}

.brand-text {
  color: #8f8f8f;
}

.state-text {
  color: #d0b088;
}

.fee2-text {
  color: #7e7267;
}

body {
  color: #252525;
  background-color: #f6f7f9;
}

a {
  text-decoration: none;
}

/* 商品卡片樣式 */
.p-card {
  background: #fff;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: inset 0 0 0 1px #23425a;
  }

  img {
    object-fit: cover;
  }
}

// 分頁
.page-link {
  width: 45px;  
  text-align: center;
  border: none !important;  
  border-radius: 0 !important;  
  color: #777676 !important;  
  border-bottom: 2px solid #777676 !important;  
  background-color: transparent !important;
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    box-shadow: none;
    color: #252525 !important;  
    border-bottom: 2px solid #252525 !important;  
    background-color: transparent !important;
  }
}