$primary-color: #23425A;
$hover-color: #0F2D3C;

.btnPrimary {
  color: #fff;
  background: $primary-color;
  border-color: $primary-color;
  
  &:hover,
  &:focus {
    background: $hover-color;
    border-color: $hover-color;
  }
}

.pCard {
  background: #fff;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: inset 0 0 0 1px $primary-color;
  }
}
