.btn-primary {
  color: #fff;
  background: #23425a;
  border-color: #23425a;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    background: #0f2d3c;
    border-color: #0f2d3c;
  }
}

.btn-outline-primary {
  color: #23425a;
  border-color: #23425a;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    color: #fff;
    background-color: #0f2d3c;
    border-color: #0f2d3c;
    box-shadow: 0 0 0 0.25rem rgba(35, 66, 90, 0.5);
  }
}

.btn-sm-radius {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.breadcrumb a {
  color: #23425a;
}

.tag-bg,
.type-bg {
  color: #fff;
  background-color: #23425a;
}

.brand-text {
  color: #8f8f8f;
}

.state-text {
  color: #d0b088;
}

.fee2-text {
  color: #7e7267;
}

body {
  color: #000;
  background-color: #f6f7f9;
}

a {
  text-decoration: none;
}

/* 商品卡片樣式 */
.p-card {
  background: #fff;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: inset 0 0 0 1px #23425a;
  }

  img {
    object-fit: cover;
  }
}

/* 愛心按鈕樣式 */
.btn-heart {
  border: none;
  background-color: transparent;

  &:hover i {
    color: #23425a !important;
  }
}
