.j-shoppingCartBox {
  display: flex;
  flex-direction: column;
}

.j-shoppingItemsBox {
  overflow: auto;
  height: 529px;
}

.j-shoppingItemsBox {
  overflow: auto;
  height: 529px;
}

.footer-block{
  display: none;
}
.copyright {
  background-color: #f6f6f6;
  padding-right: 5%;
  padding-left: 5%;
}
.copyright-text{
  color: #000;
}
.copyright a,
.copyright span {
  color: #000
}

  // @media(max-width:390px) {
  //   .container {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .container .j-shoppingCartTitle {
  //     font-size: 65px;
  //   }

  //   .container .j-shoppingCartBox {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .j-shoppingItemsMoblieBox {
  //     width: 390px;
  //   }

  //   .j-cartItemBox {
  //     width: 390px;
  //     height: auto;
  //   }

  //   .j-lessonImg img {
  //     width: 375px;
  //   }

  //   .footer {
  //     display: block;
  //   }

  //   .copyright {
  //     text-align: center;
  //   }

  //   .copyright .right-links {
  //     display: none;
  //   }

  //   .copyright .right-links .copyRight {
  //     display: block;
  //   }

  // }