.margin-top{
    margin-top: 100px;
}
.sidenav {
   padding: 20px;
}

.sidenav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.sidenav a:hover {
    color: #5292C5;
}
