.y-breadcrumb{
  a{
    color: #8F8F8F;
  }
  span{
    color:#8F8F8F;
  }
  p{
    color: #143146;
  }
  margin-top: 70px;
  font-size: 16px;
}

@media screen and (max-width: 390px){
  .y-breadcrumb{
  margin-top: 20px;
  font-size: 12px;
  }
}