

  .j-payStep {
    height: 45rem;
    padding: 22px;
    border-radius: 20px;
    background-color: #fff;
  }

  .j-payStep .j-pTitle {
    font-size: 24px;
  }
  .j-payTitle{
    color: #003150;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .j-buyerInput input{
    border-radius: 20px;
  }

  .j-Checkout {
    height: 50px;
    border-radius: 50px;
    background: #003150;
  }

  .j-Checkout .j-btn {
    &:not(.j-payStep){
      border: none;
    }
  
    &:focus{
      border: none;
    }
    &:active{
      border: none;
      color: #fff;
    }
    color: #FFF;
    font-size: 14px;
  }
  
  @media(max-width:390px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .container .j-shoppingCartBox {
      display: flex;
      flex-direction: column;
    }

    .shoppingItemsMoblieBox {
      width: 390px;
    }

    .j-cartItemBox {
      width: 390px;
      height: auto;
    }

    .j-lessonImg img {
      width: 375px;
    }
    
    .footer {
      display: block;
    }

    .copyright{
      text-align: center;
    }
    
    .copyright .right-links {
      display: none;
    }

    .copyright .right-links .copyRight {
      display: block;
    }
    
  }