/* News-card */
.newsCard {
    background-color: #23425A;
    padding: 2rem;
  }
  
  .newsCardContent {
    border-radius: 15px;
  }
  
  .tagProduct {
    margin-top: 2px;
  }
  
  .tagProduct span {
    background-color: #807871;
    color: white;
    padding: 5px 10px;
  }
  
  .underText {
    margin: 0 10px;
  }
  
  .underText p {
    color: #1E3C54;
  }
  
  .underText a {
    color: #807871;
  }
  
  .cardNewsImg img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
  }
  
  .btnMore button {
    position: absolute;
  bottom: -82%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #e58e41;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  }
  
  .btnMore button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  color: black;
  }
  
  @media (max-width: 391px) {
    .btnMore button {
      bottom: -200%;
    }
    .cardTitle {
      font-size: 1rem;
    }
    .cardNewsImg img {
      width: 200px;
    }
  }