.y-list-title {
  width: 100%;
  button {
    background-color: #ffffff00;
    border: none;
    color: #000;
  }
}

//圖片渲染
.fade-in {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}
.y-user-list-profile {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.y-article-list-tag {
  p {
    color: #7e7267;
  }
  button {
    border: none;
    background-color: #ffffff00;
    padding: 0;
    margin: 0;
  }
}

.y-list-card-content {
  h5 {
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}

.y-author-date {
  p {
    color: #757776;
  }
}

.y-list-card-area {
  .y-card {
    margin-top: 70px;
    border: none;
    border-radius: 0;
    background-color: #ffffff00;

    img {
      border-radius: 0;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
  }
}

.y-tag-area {
  font-size: 14px;
  button {
    margin: 0 auto;
    background-color: #ffffff00;
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card-sub-title {
  color: #7f7f7f;
}

.one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
