@charset "UTF-8";

/* 定義變數 */
:root {
  --primary-color: #143146;
  --primary-color-med: #23425a;
  --primary-color-lig: #5292c5;
  --warning-color: #e58e41;
  --secondary-color-dark: #807871;
  --secondary-color-med: #d0b088;
  --secondary-color-lig: #f1cf99;
  --secondary-color-lig2: #e8e3d7;
  --bg-color-gray: #f5f5f5;
  --black: #1b1b1b;
  --white: #ffffff;
  --line-color-gray: #979797;
  --line-color-gray-light: #c9c9c9;
}

/* 基本樣式 */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-gray);
}

p {
  margin: 0;
}

a {
  color: var(--primary-color);
}

body ul a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

/* ***上面以複製 */

/* Header 樣式 */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px rgba(3, 7, 10, 0.3);
  z-index: 10;
}

.logo img {
  width: 160px;
}

/* 導覽列樣式 */
nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}

.nav-left li {
  margin: 0 20px;
  padding: 5px 0;
  font-size: 1rem;
  position: relative;
}

.nav-left li a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-left li a .icon {
  display: block;
  text-align: center;
  opacity: 0;
}

.nav-left > li a:hover,
.nav-left > li:hover > a {
  color: var(--secondary-color-med);
}

.nav-left > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color-med);
  transition: width 0.3s ease;
}

.nav-left > li:hover::after {
  width: 100%;
}

.nav-right {
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.nav-right a {
  margin: 0 10px;
}

.search-icon,
.menu-icon {
  display: none;
}

.menu-icon {
  cursor: pointer;
}

.drop-camera:hover .icon,
.drop-lens:hover .icon,
.drop-other:hover .icon {
  opacity: 1;
}

/* 下拉選單樣式 */
.pd-dropdown {
  display: none;
  justify-content: center;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  background-color: #f0f0f0;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;
}

.pd-dropdown li {
  margin: 0 200px;
}

.pd-dropdown li a {
  display: block;
  text-decoration: none;
  color: var(--black);
}

.pd-dropdown li a:hover {
  color: var(--secondary-color-dark);
}

.pd-dropdown .icon {
  display: none;
}

/* 透明緩衝區 */
.hover-gap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background: transparent;
}

/* 滑鼠懸停觸發下拉選單 */
.product-item:hover .pd-dropdown,
.pd-dropdown:hover,
.product-item:hover .hover-gap {
  display: block;
}

/* 橫向排列選單項目 */
.pd-dropdown li {
  display: inline-block;
  margin-right: 20px;
}

/* 圖片區塊樣式 */
.camera-brands li a,
.lens-brands li a,
.other-brands li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  display: block;
}

.camera-brands li a img,
.lens-brands li a img,
.other-brands li a img {
  max-width: 100px;
  height: auto;
  display: block;
}

.camera-brands,
.lens-brands,
.other-brands {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100vw;
  background-color: #f0f0f0;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;
}

/* 懸停顯示相應品牌圖片 */
.drop-camera:hover .camera-brands,
.drop-lens:hover .lens-brands,
.drop-other:hover .other-brands {
  display: flex;
}

.camera-brands li,
.lens-brands li,
.other-brands li {
  margin: 0 50px;
}

.camera-brands li a img,
.lens-brands li a img,
.other-brands li a img {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.camera-brands li a img:hover,
.lens-brands li a img:hover,
.other-brands li a img:hover {
  transform: scale(1.1);
}

/* ---section banner--- */

.course-banner {
  background-color: var(--primary-color);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.banner-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  padding: 50px 60px;
}

.banner-title p {
  font-size: 1rem;
  margin: 0;
  display: block;
}

.banner-img-list {
  display: flex;
}

.swiper-slide {
  width: 550px;
  height: calc(550px * 9 / 16);
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---section category--- */

.category-nav {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-nav ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.category-nav ul {
  display: flex;
  gap: 100px;
  padding: 0;
}

.category-nav ul li {
  list-style: none;
}

.category-list {
  transition: transform 0.3s ease;
}

.category-list p {
  color: var(--white);
}

.category-list:hover p {
  color: var(--secondary-color-med);
}

.category-list:hover .circle-active {
  border: 1px solid var(--secondary-color-med);
}

.circle-active {
  width: 10px; /* 圓點的直徑 */
  height: 10px; /* 圓點的直徑 */
  border: 1px solid var(--white);
  border-radius: 50%; /* 讓它變成圓形 */
}

.gradient {
  display: none;
}

/* ---section course-list --- */

.breadcrumb {
  gap: 10px;
}

.breadcrumb li a {
  text-decoration: none;
  color: var(--line-color-gray);
}

.breadcrumb-item-active {
  color: var(--primary-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ""; /* 改成其他符號 */
  color: var(--line-color-gray);
  padding: 0 0.5rem;
}

.search-filter {
  display: flex;
  justify-content: space-between;
}

/* --- 搜尋 --- */
.course-search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 22rem;
  border: 1px solid var(--line-color-gray-light);
  border-radius: 25px;
  padding: 10px 20px;
}

.search-btn {
  position: absolute;
  left: 305px;
  background: none;
  border: none;
  padding-bottom: 3px;
}

/* --- 篩選 --- */
/* 外層容器 */
.custom-select {
  position: relative;
  width: 160px;
  font-size: 1rem;
  cursor: pointer;
}

/* 預設選項樣式 */
.selected-option {
  padding: 10px 15px;

  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* 下拉選項列表 */
.options-list {
  display: none; /* 預設隱藏 */
  position: absolute;
  top: 100%; /* 顯示在選單下方 */
  left: 0;
  width: 100%; /* 與外層寬度一致 */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 每個選項 */
.option {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 滑鼠懸停選項樣式 */
.option:hover {
  background-color: #f1f1f1;
}

/* 展開時顯示選項列表 */
.custom-select.open .options-list {
  display: block;
}
.custom-select::after {
  content: url(../images/arrow-down.svg);
  position: absolute;
  right: 15px; /* 距離右側的間距 */
  top: 40%; /* 垂直置中 */
  transform: translateY(-50%);
  pointer-events: none; /* 防止箭頭影響點擊事件 */
}

/* 展開時顯示箭頭向上 */
.custom-select.open::after {
  content: url(../images/arrow-up.svg);
}
/* --- 課程列表 --- */

.course-card-link {
  text-decoration: none;
  color: var(--black);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.card-img img {
  transition: transform 0.3s ease;
}

.card-img:hover img {
  transform: scale(1.1);
}

.card-img:hover .img-overlay {
  opacity: 1; /* 顯示遮色片 */
}

.card-img:hover .favorite-icon {
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.favorite-icon {
  position: absolute;
  display: none;
  top: 10px;
  right: 15px;
  color: var(--white);
  cursor: pointer;
  z-index: 10;
}

.course-title {
  margin-top: 15px;
  font-size: 1.1rem;
}

.teacher-name {
  font-size: 1rem;
  color: var(--line-color-gray);
}

.rating-student {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 5px 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating p {
  color: var(--warning-color);
  font-weight: 500;
}

.rating-star {
  color: var(--warning-color);
}

.student-count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.student-count img {
  width: 20px;
  height: 20px;
}

.course-price P {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--black);
}

.pages-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.pages-container ul {
  list-style: none;
}

.pages {
  display: flex;
  padding: 0;
  color: var(--line-color-gray);
}

.page-arrow {
  color: var(--line-color-gray);
}

.page-arrow:hover {
  color: var(--black);
}

.pages li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--line-color-gray-light);
  position: absolute;
  bottom: 0;
  left: 0;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.pages li:hover::after {
  background-color: var(--black);
  transform: scaleY(2.5);
}

.pages li {
  position: relative;
  display: flex;
  justify-content: center;
  width: 4rem;
  padding-bottom: 8px;
}

.page:hover {
  color: var(--black);
}

.load-more-btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.load-more-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color-dark);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 0.5rem 2rem;
}

/* ---popular-teacher--- */

.popular-teacher {
  background-color: var(--primary-color);
  overflow: hidden; /* 解決margin塌陷 */
}

.teacher-title {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.teacher-title h2 {
  color: var(--white);
}

.title-block {
  width: 8px;
  background-color: var(--warning-color);
}

.teacher-card {
  margin-bottom: 80px;
}

.teacher-card-img {
  position: relative;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}

.teacher-card-img img {
  transition: transform 0.3s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.teacher-card-img:hover img {
  transform: scale(1.1);
}

.teacher-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0) 35%
  );
  transition: opacity 0.3s ease;
}

.teacher-card-img h3 {
  position: absolute;
  bottom: 90px;
  margin: 30px;
  color: var(--white);
  font-size: 1.3rem;
}

.teacher-card-img p {
  position: absolute;
  margin: 0 30px;
  bottom: 30px;
  color: var(--white);
  font-size: 1rem;
  display: -webkit-box; /* 必需：啟用彈性盒子模型 */
  -webkit-box-orient: vertical; /* 必需：設定為垂直方向 */
  overflow: hidden; /* 隱藏超出內容 */
  -webkit-line-clamp: 3; /* 限制行數為 3 行 */
  text-overflow: ellipsis; /* 顯示省略號 */
}

.teacher-card:hover .arrow-more {
  opacity: 1;
}

.arrow-more {
  position: absolute;
  opacity: 0;
  top: 20px;
  right: 20px;
  transition: opacity 0.3s ease;
}

.circle-more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--white);
  border-radius: 50%;
}

.circle-more-arrow {
  transform: rotate(45deg);
}

/* ---footer--- */
footer {
  max-width: 100vw;
  background-color: var(--secondary-color-dark);
  overflow: hidden;
}

.footer-block {
  margin: 70px 0;
}

footer h5 {
  color: var(--secondary-color-lig);
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.list-unstyled li {
  margin: 10px 0;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 300;
}

footer li a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 300;
  margin: 10px 0;
}

footer .social-icons a {
  font-size: 1.8rem;
  margin-right: 15px;
  color: white;
}
footer .social-icons a:hover {
  color: #143146;
}

.footer-title {
  pointer-events: none;
}

.plus {
  color: var(--white);
  font-weight: 700;
}

.copyright-right-div {
  display: flex;
}

/* copyright */
.copyright {
  background-color: #1b3b4f; /* 深藍色背景 */
  color: #ffffff; /* 白色文字 */
  padding: 20px 40px;
  font-size: 0.9rem;
  font-weight: 300;
}
.copyright a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}
.copyright a:hover {
  text-decoration: underline;
}

.copyright-text {
  margin: 0 10px;
  font-size: 0.8rem;
}

/* 響應式樣式 */
@media screen and (max-width: 1200px) {
  header.nav-fixed-1 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 讓兩側元素貼邊，中間元素居中 */
  }

  .search-icon {
    flex: 1; /* 讓 search-icon 區塊擴展 */
    display: flex;
    justify-content: flex-start; /* 靠左對齊 */
  }

  .logo {
    flex: 1; /* 讓 logo 佔據可用空間 */
    display: flex;
    justify-content: center; /* 置中對齊 */
  }

  .menu-icon {
    flex: 1; /* 讓 menu-icon 區塊擴展 */
    display: flex;
    justify-content: flex-end; /* 靠右對齊 */
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 30%;
    background-color: var(--bg-color-gray);
  }

  .nav-left,
  .nav-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .nav-left a,
  .nav-right a {
    text-decoration: none;
  }

  .nav-left li,
  .nav-right li {
    color: var(--black);
    margin: 10px 0;
  }

  .menu-icon.active + nav {
    display: flex;
  }

  .breadcrumb {
    display: none;
  }

  .search-filter {
    margin-top: 2rem;
  }

  /* --- footer --- */
  .mobile-none {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .swiper-slide {
    width: 400px;
    height: calc(400px * 9 / 16);
  }
  .banner-title {
    padding: 30px 60px;
  }

  /* --- footer --- */
  .category-nav ul {
    gap: 10vw;
  }

  /* --- footer --- */
  .copyright {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  /* 課程類別 */
  .category-nav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; /* 讓滾動有吸附效果 */
    justify-content: flex-start; /* 確保內容從最左邊開始 */
    background-color: var(--bg-color-gray);
    padding: 2rem;
  }

  .category-nav li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line-color-gray-light);
    position: absolute;
    bottom: 0;
    left: 0;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .category-nav li:hover::after {
    background-color: var(--black);
    transform: scaleY(2.5);
  }

  .category-nav li {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding: 0 10px 8px 10px;
  }
  .category-nav li:hover p {
    color: var(--primary-color);
  }

  .category-nav:hover {
    color: var(--black);
  }

  .category-nav ul {
    gap: 0;
  }

  .category-list .circle-active {
    display: none;
  }
  .category-list p {
    color: var(--black);
  }

  .search-filter {
    margin-top: 0;
  }

  .teacher-title {
    margin-top: 2rem;
  }
  .teacher-title h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  /* --- footer --- */
  footer h5 {
    margin-bottom: 1rem;
  }

  .footer-title {
    margin-bottom: 1rem;
    pointer-events: painted;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 0 32px;
  }

  .container {
    margin: 0;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .banner-title {
    padding: 20px 32px;
  }

  .swiper-slide {
    width: 300px;
    height: calc(300px * 9 / 16);
  }

  .gradient {
    position: absolute;
    display: block;
    right: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, #f5f5f500, #f5f5f5 30%);
  }

  .course-search {
    display: none;
  }
  .selected-option {
    padding: 0;
  }
  .pages-container {
    display: none;
  }

  .popular-teacher > .container {
    padding: 0 !important;
  }

  .teacher-title {
    padding-left: 32px;
  }

  .teacher-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; /* 讓滾動有吸附效果 */
    justify-content: flex-start; /* 確保內容從最左邊開始 */
  }
  .teacher-list {
    flex: 0 0 80vw; /* 每個卡片佔 80% 視窗寬度 */
    max-width: 80vw; /* 讓卡片最大寬度為 80% 視窗寬度 */
    margin-left: 32px;
  }
  .teacher-card {
    margin-bottom: 3rem;
  }

  /* --- footer --- */
  .footer-block {
    margin: 2rem 0;
  }

  .copyright-text {
    font-size: 0.7rem;
  }
}
