:root {
  --primary-color: #143146;
  --primary-color-med: #23425a;
  --primary-color-lig: #5292c5;
  --warning-color: #e58e41;
  --warning-color-dark: #d3690c;
  --secondary-color-dark: #807871;
  --secondary-color-med: #d0b088;
  --secondary-color-lig: #f1cf99;
  --secondary-color-lig2: #e8e3d7;
  --bg-color-gray: #f5f5f5;
  --black: #1b1b1b;
  --white: #ffffff;
  --line-color-gray: #979797;
  --line-color-gray-light: #c9c9c9;
  --line-color-gray-light2: #ececec;
  --gray--50: #dbdbdb;
  --gray--100: #d4d4d4;
  --gray--200: #afafaf;
  --gray--300: #979797;
  --gray--400: #7e7e7e;
  --gray--500: #666666;
  --box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.15);
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  background-color: var(--bg-color-gray);
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* --- sidebar --- */

.col-md-3 {
  padding: 0;
  max-height: 100vh;
}

.center-sidebar {
  position: fixed;
  top: 0;
  width: 16.5%;
  background-color: var(--primary-color);
  height: 100vh;
  padding: 2rem;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.logo img {
  width: 150px;
}
.logo hr {
  color: var(--white);
  width: 100%;
}

.teacher-sticker {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem 0 1rem 0;
}
.teacher-sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.teacher-data .teacher-name {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}
.teacher-data .teacher-email {
  color: var(--gray--200);
  font-size: 1rem;
}

.control-center {
  margin-top: 5rem;
}

.control-center li {
  margin: 1.5rem 0;
  list-style: none;
}

.control-center a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray--200);
}

.control-center a:hover {
  color: var(--white);
}

.logout {
  margin-top: 320px;
  bottom: 3rem;
  display: flex;
  align-items: center;

  gap: 10px;
  color: var(--gray--200);
}

/* --- 內容區域 --- */

.center-content-container {
  padding: 1rem;
}

.center-content {
  background-color: var(--bg-color-gray);
  padding: 2rem 5rem;
}

.nav-bar h1 {
  font-size: 1.5rem;
  color: var(--primary-color-med);
}

/* --- 表格區 --- */

.form-group {
  margin-bottom: 1rem;
}

.course-edit {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  padding: 2rem 5rem;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray--400);
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--gray--50);
  border-radius: 50px;
  color: var(--black);
}

input:focus {
  border: 1px solid var(--white);
  box-shadow: var(--box-shadow);
  outline: 2px solid var(--secondary-color-lig);
}

.required {
  font-weight: 600;
  color: var(--warning-color);
  margin-left: 2px;
}

.course-info {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid var(--gray--50);
  resize: none;
  white-space: pre-line;
}

.course-info:focus {
  border: 1px solid var(--white);
  box-shadow: var(--box-shadow);
  outline: 2px solid var(--secondary-color-lig);
}

/* 上傳圖片區塊 */

.image-upload {
  width: 100%;
  height: calc(width * 9 / 16);
  border-radius: 20px;
  border: 2px solid var(--bg-color-gray);
  display: flex;
  margin: 10px 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-upload span {
  font-size: 14px;
  color: #999;
}

/* 滑鼠移上去時變化 */
.image-upload:hover {
  box-shadow: var(--box-shadow);
  border: 2px solid var(--white);
}

/* --- 分類選項  --- */
select {
  width: 100%;
  padding: 8px 32px 8px 16px;
  border: 1px solid var(--gray--50);
  border-radius: 50px;
  color: var(--black);
  cursor: pointer;
  appearance: none;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 18px center; /* 調整箭頭位置 */
  background-size: 10px;
}

select:focus {
  border: 1px solid var(--white);
  box-shadow: var(--box-shadow);
  outline: 2px solid var(--secondary-color-lig);
}

/* --- 課程內容 --- */
.course-content-container {
  padding-left: 3rem;
}

/* 表單按鈕 */
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn {
  background-color: var(--warning-color);
  color: white;
}

.save-btn:hover {
  background-color: var(--warning-color-dark);
}

.cancel-btn {
  background-color: var(--gray--100);
  color: black;
}

.cancel-btn:hover {
  background-color: var(--gray--200);
  color: black;
}

/* --- footer --- */

.copyright-right-div {
  display: flex;
  justify-content: end;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.copyright-right-div a {
  color: var(--black);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
}
.copyright-text {
  margin: 0 10px;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  /* 展開時 */
  .center-sidebar.show {
    left: 0;
  }

  /* 內容區推開 */
  .center-sidebar.show + .center-content {
    margin-left: 250px;
  }

  /* 收合按鈕 */
  .close-sidebar-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
}
