* {
	box-sizing: border-box;
}

header {
	height: 80px;
	background-color: #143146;
	color: white;
	display: flex;
	align-items: center;

}
.header-logo{
	margin-left: 5%;
	img{
			width: 150px;
			height: 150px;
	}
}

/* nav-link */
.navbar-nav a:focus {
	color: #F1CF99;
	border-bottom: solid .5px #F1CF99;
}
.navbar-nav a {
	color: white;
	margin: 0 10px;
	position: relative;
	transition: color 0.3s;
}
.navbar-nav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 0.5px;
	background-color: #F1CF99;
	transition: width 0.3s;
}
.navbar-nav a:hover {
	color: #F1CF99;
}
.navbar-nav a:hover::after {
	width: 100%;
}

/* header-icons */
.header-icons {
	display: flex;
	align-items: center;
	margin-right:5%;
	a {
			margin-left: 15px;
	}
}