.btn-primary{
  color: #fff;
  background: #23425A;
  border-color: #23425A;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover{
    background: #0F2D3C;
    border-color: #0F2D3C;
  }
}
.btn-outline-primary {
  color: #23425A;
  border-color: #23425A;

  &:hover, &:focus, &:active, &:active:focus, &:active:hover{
    color: #fff;
    background-color: #0F2D3C;
    border-color: #0F2D3C;
    box-shadow: 0 0 0 0.25rem rgba(#23425A, 0.5);
  }
}
.btn-sm-radius{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.breadcrumb a{
  color: #23425A;
}
.tag-bg, .tpye-bg {
  color: #fff;
  background-color: #23425A;
}
.brand-text {
  color: #8F8F8F;
}
.state-text {
  color: #D0B088;
}
.fee2-text {
  color: #7E7267;
}
body {
  color: #000;
  background-color: #F6F7F9;
}
a {
  text-decoration: none;
}
/* 商品卡片樣式 */
.p-card {
  background: #fff;
  transition: transform 0.3s ease-in-out;
}
.p-card:hover {
  transform: scale(1.03); /* 卡片 hover 放大效果 */
  box-shadow: inset 0 0 0 1px #23425A;
}
.p-card img {
  object-fit: cover;
}

/* hashtag */
#tooltip{
  opacity: 0.9;
  z-index: 9999;
}

/* 愛心按鈕樣式 */
.btn-heart {
  border: none;
  margin: 0;
  background-color: transparent;
}

.btn-heart:hover i {
  color: #23425A !important; /* 愛心 hover 顏色 */
}

