nav{
  display: flex;
  justify-content: flex-end;
}

.j-cartTitle{
  background-color: #003150;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}

.j-input-box{
  background-color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.j-nextBox{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.j-itemBox{
  background-color: #f6f6f6;
  border-radius: 20px;
  color: #fff;
}

.j-bodyHeight{
  height: auto;
}

.j-cartItemsBox {
  margin-top: 3.7rem;
  display: flex;
  flex-direction: column;
}

.footer-block{
  display: none;
}

.copyright {
  background-color: #f6f6f6;
  padding-right: 5%;
  padding-left: 5%;
}

.copyright-text{
  color: #000;
}

.copyright a,
.copyright span {
  color: #000
}
@media (max-width: 1200px){
  .j-shoppingCartBox {
    margin-top: 10%;
  }
  .j-bodyHeight{
    height: auto;
  }
}
@media (max-width: 390px) {
  .j-cartItemsBox {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .j-lessonImg img {
    width: auto;
  }

  .payStep {
    width: auto;
  }
}