/* 📌 卡片樣式 */
.card {

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  }
  
  .cardText {
    color: #d0b189;
  }
  
  button {
    background-color: #e08534;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  &:hover button {
    opacity: 1;
    visibility: visible;
  }

  .cardImgTop {
    width: 100%;  
    height: 200px; 
    max-height: 180px; 
    object-fit: contain;
    display: block;
    margin: 0 auto;
    background-color: #fff;
  }
}

.cardbody {
  padding: 0.5rem;
  background-color: #fff;
}


/* 📌 按鈕樣式 */
.btn-outline-secondary {
  border-radius: 30px;
  padding: 6px 20px;
  font-size: 14px;
  margin-bottom: 20px;

  &.active,
  &:focus {
    background-color: #1b3846;
    color: white;
  }

  &:not(.active):hover {
    background-color: #1b3846;
  }
}

.custom {
  border: none !important;

}

/* 📌 響應式設計 */
@media (max-width: 391px) {
  .breadcrumb {
    display: none;
  }

  .card {
    button {
      opacity: 1 !important;
      visibility: visible !important;
    }

    &:hover {
      box-shadow: none;
    }
  }
}
