.j-shoppingCartTitleBox .j-shoppingCartTitle {
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .j-shoppingCartTitleBox small {
    font-size: 35px;
    font-style: normal;
    line-height: normal;
  }

  @media(max-width:390px) {
    .j-shoppingCartTitleBox .j-shoppingCartTitle {
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }