.j-lsText {
  font-size: 14px;
  color: black;
}

.j-cartItem {
  border-radius: 20px;
  background-color: #fff;
  gap: 10px;
}

.j-lessonImg img {
  width: 109px;
  height: 89px;
}

.j-delBtn > button:active,
.j-delBtnfocus > button:focus,
.j-delBtn > button:not(.j-cartItem) {
  border: none;
}

.j-delBtn {
  left: 92.5%;
}
@media (min-width: 1400px) {
  .j-lsText {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .j-delBtn {
    left: 90%;
  }
}

@media (max-width: 768px) {
  .j-lsText {
    font-size: 12px;
  }
}
