.comparisonTable {
  margin-bottom: 50px;

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    text-align: center;
    width: 19%;
  }

  td {
    width: 23%;
  }

  @media (max-width: 391px) {
    table {
      max-width: 100%;
    }

    th,
    td {
      padding: 8px;
      font-size: 0.85rem;
    }
  }
}
