.comparisonTable {
  margin-bottom: 50px;

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    text-align: center;
    width: 10%;
  }

  td {
    width: 29%;
  }

  @media (max-width: 391px) {
    .comparisonTable {
      overflow-x: auto; /* ✅ 允許手機上滾動 */
      display: block;
    }
  
    th, td {
      // width: auto; /* ✅ 讓欄位根據內容調整 */
      padding: 8px;
      font-size: 0.85rem;
      word-wrap: break-word;
      // border: 1px solid red;
    }
  }
  
}
