.y-comment-area{
    border-radius: 25px;
    input{
        width: 100%;
        border: none;
    }
}
.y-comment-area-icons{
        button{
        width: 100%;
        background-color: #ffffff00;
        border: none;
    }
}
