.y-comment-area {
  border-radius: 25px;
  input {
    width: 100%;
    border:2px solid #7e726700;
    border-radius: 10px;
    &:focus{
      outline: none; /* 移除預設外框 */
      border:2px solid #000000 !important;
    }
  }
}

.btn-needs-login {
  background: #7E7267;
  border-radius: 25px;
  color: white;
  border: 1px solid #ffffff00;
  &:hover {
    background: #ffffff;
    color: #7E7267;
    border: 1px solid #7E7267;
  }
}


.y-comment-area-icons {
  button {
    width: 100%;
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
  }

  .imageup-icon {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      content: url('/images/article/imageup-g.svg');
    }

    &.active {
      transform: scale(1.2);
      content: url('/images/article/imageup-w.svg');
    }
  }

  button:nth-child(2) img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      content: url('/images/article/gif-icon-g.svg');
    }

    &.active {
      transform: scale(1.2);
      content: url('/images/article/gif-icon-w.svg');
    }
  }
}

