.section-detail-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 4rem 0 1rem 0;
}

.title-block {
  width: 8px;
  height: 35px;
  background-color: var(--primary-color);
}

.section-detail-title h2 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0;
}

.course-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.score-area,
.star-area {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: 1.5rem;
}

.score-area .score {
  font-size: 2.5rem;
  font-weight: 700;
}

.score-area .total-score {
  color: var(--line-color-gray);
}

.rating-count {
  color: var(--line-color-gray);
  margin-left: 1rem;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count {
  color: var(--line-color-gray);
  width: 20px; /* 設定固定寬度 */
  text-align: center; /* 讓數字靠右對齊 */
  display: inline-block; /* 確保寬度有效 */
}

.progress {
  width: 350px;
  --bs-progress-height: 0.5rem;
  background-color: var(--gray--50);
  flex-grow: 1; /* 讓 progress 填滿剩餘空間 */
  max-width: 400px; /* 限制最大寬度 */
}

.progress-bar {
  background-color: var(--warning-color) !important;
}

.all-comment-link a {
  display: flex;
  gap: 8px;
  text-decoration: none;
}

