.y-container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.y-tag-date{
  margin-top: 65px;
}
.y-article-tag{
  width: auto;
  height: auto;
  background-color: #7E7267;
  color: #fff;
  padding: 0.3rem 0.8rem !important;
  font-size: 16px;
}
.y-share-icon-mb{
  display: none;
}
.y-tag-date-share h1{
  font-size: 48px;
}
.y-tag-date-share-subtitle{
  font-size: 16px;
  color: #7f7f7f;
}

.y-title-line{
  border-bottom: solid 2px #000;
  margin-bottom: 20px;
}

@media screen and (max-width: 390px){
  /* 文章標題+主圖區 */
  .y-article-date{
    font-size: 12px;
  }
  .y-share-icon{
    display: none;
  }
  .y-share-icon-mb{
    display: block;
    font-size: 12px;
    margin: 15px 0;
  }
  .y-tag-date-share h1{
    font-size: 30px;
  }
  .y-font-size-control{
    font-size: 12px;
    button{
      font-size: 12px;
    }
  }
}
