.btn-primary {
  color: #fff;
  background: #23425a;
  border-color: #23425a;
  transition: none;
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover,
  &:disabled {
    background: #143146;
    border-color: #143146;
  }
}

.btn-outline-primary {
  color: #23425a;
  border-color: #23425a;
  transition: none;
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    color: #fff;
    background-color: #143146;
    border-color: #143146;
  }
  &:disabled {
    color: #143146;
    border-color: #143146;
  }
}

.btn-outline-warning {
  color: #e58e41;
  border-color: #e58e41;
  transition: none;
  &:hover,
  &:active,
  &:active:focus,
  &:active:hover {
    color: #fff;
    background-color: #e58e41;
    border-color: #e58e41;
  }
  &:disabled {
    color: #e58e41;
    border-color: #e58e41;
  }
}

.btn-active {
  background: #143146;
}

.btn-tab-radius {
  border-radius: 5px 5px 0 0;
  &:hover,
  &:active,
  &:active:hover {
    opacity: 0.95;
  }
}

.btn-sm-radius {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.btn-radius {
  border-radius: 50px;
}

.left-btn {
  padding: 0 2px 3px 0;
}

.right-btn {
  padding: 0 1px 3px 1px;
}

// 標籤
.tag-bg {
  color: #fff;
  background-color: #23425a;
  &:hover,
  &:active,
  &:active:hover {
    background: #143146;
    cursor: default;
  }
}

.type-bg {
  color: #fff;
  background-color: #23425a;
}

.brand-text {
  color: #8f8f8f;
}

.fee-text {
  color: #23425a;
}

.fee2-text {
  color: #7e7267;
}

.state-text {
  color: #d0b088;
}

.star-color {
  color: #e58e41;
}

body {
  color: #252525;
  background-color: #f6f7f9;
}

.p-card2 {
  max-width: 580px;
  margin: 0 auto;
  background: #fff;
}

.p-card img,
.p-card2 img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.p-card {
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

.p-card:hover {
  transform: scale(1.03);
  box-shadow: inset 0 0 0 1px #23425a;
}

a {
  text-decoration: none;
}

.card-radius {
  border-radius: 0 5px 5px 5px;
}

.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: none;
  padding-bottom: 0 !important;
}

.thumbnails-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#thumbnailWrapper {
  display: flex;
  max-width: 600px;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.thumbnail img {
  border: 4px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  flex-shrink: 0;
  scroll-snap-align: center;
  width: 100%;
  height: auto;
}

.thumbnail img.active {
  border-color: #23425a;
  z-index: 9999;
  border-width: 4px;
}

.thumbnail img:hover:not(.active) {
  border-color: #ccc;
}

@media (min-width: 1200px) {
  .thumbnails-container {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (min-width: 1399px) {
  .thumbnails-container {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thumbnails-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  .thumbnail img {
    border: 3px solid transparent;
  }
  .thumbnail img.active {
    border-width: 3px;
  }
}

.btn-heart {
  border: none;
  margin: 0;
  background-color: transparent;
}

.btn-heart:hover i {
  color: #23425a !important;
}

.rent-photo-container {
  transition: all 0.3s ease-in-out;
}

.rent-photo-container.fixed {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 1000;
}

.recommendation-container {
  margin-top: 50px;
}

// tab表格 並排

.append-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 兩欄 */
  gap: 10px; /* 控制欄間距 */
  max-width: 100%;
}

.append-row {
  display: flex;
  justify-content: space-between; /* 左右對齊 */
  width: 100%;
}

.append-item {
  white-space: nowrap; /* 防止自動換行 */
  flex: 1;
  text-align: left;
}

// 微調彈窗(auth)
.auth-swal-icon {
  top: 10px;
}
.auth-swal-position {
  padding-top: 10px !important; /* 預留空間給裝飾條 */
  overflow: hidden; /* 確保裝飾條不會超出視窗邊界 */
}
.auth-swal-decoration-bar {
  width: 100%;
  height: 34px; /* 裝飾條的高度 */
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 24px,
    #5292c5 10px,
    #5292c5 48px
  ); /* 條紋顏色與間距 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; /* 確保裝飾條顯示在最前面 */
}
.auth-swal-confirm-btn {
  background-color: #5292c5;
  border-radius: 50px;
}
.auth-swal-cancel-btn {
  background-color: #807871;
  border-radius: 50px;
}

// 微調彈窗(cart)
.cart-swal-icon {
  border: none;
  color: #fff;
  right: -3px;
  width: 40px;
  height: 40px;
  animation: cart-bounce 1s ease forwards;
  strong {
    color: #f1cf99;
  }
}

.cart-swal-position {
  padding-top: 8px !important;
  top: 82px !important; /* 距離頂部 100px */
}

.cart-swal-close-btn {
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s;
  &:hover,
  &:active,
  &:active:hover {
    color: #e58e41;
  }
}

.cart-swal-progress-bar {
  background: linear-gradient(90deg, #e58e41, #f1cf99); /* 漸層顏色 */
  height: 10px;
  border-radius: 5px;
}

@keyframes cart-bounce {
  0% {
    transform: scale(0) rotate(-45deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

// 固定滾動
/* Sticky 容器 */
.rent-picture-container {
  transition: all 0.3s ease;
  z-index: 10;
  height: auto; /* 預設為自動高度 */
}

/* Sticky (大螢幕時保持圖片區域黏貼在視窗中) */
.sticky .rent-picture-fixed {
  position: sticky;
  top: 144px; /* 保持在視窗頂部 */
  width: 100%;
}

/* Relative (小螢幕或滾動到頁尾時恢復正常滾動) */
.relative .rent-picture-fixed {
  position: relative;
  top: auto;
}
