.compareHeader {
  margin-bottom: 20px;
}

/* 🔹 返回按鈕 */
.backButton {
  font-size: 16px;
  padding-top: 6rem;
  border: none !important;
  background-color: transparent !important;
  color: #6c757d !important;
  box-shadow: none !important;
  outline: none !important;
}

.compareTitle {
  text-align: center;
  padding-top: 6rem;
  font-weight: bold;
}

// 📌 產品比較容器
.productContainer {
  display: flex;
  max-width: 1440px;
  justify-content: flex-end;
  margin-left: 176px;

  .productBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;

    img {
      width: 100%;
    }

    h5 {
      font-weight: bold;
    }

    p {
      color: #333;
    }

    .buy {
      width: 50%;
      background-color: #062f4f;
      border: none;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .remove {
      width: 50%;
      color: black;
      margin-bottom: 20px;
    }
  }

  // 📌 添加商品空白區
  .emptyBox {
    border: 2px dashed #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbb;
    font-size: 1.2rem;
    height: 400px;
  }
}

// 📌 響應式設計
@media (max-width: 391px) {
  .backButton {
    font-size: 12px;
    padding-top: 6rem;
    white-space: nowrap;
    border: none !important;
    background-color: transparent !important;
    color: #6c757d !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .productContainer {
    margin: auto;

    .productBox {
      text-align: center;
      // margin-right: 5px;
      // border: 1px solid red;
      width: 26.5%;

      h5 {
        font-weight: bold;
        font-size: 0.8rem;
      }

      p {
        font-size: 0.7rem;

        color: #333;
      }

      .buy {
        width: 43%;
        background-color: #062f4f;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .remove {
        width: 50%;
        color: black;
        margin-bottom: 10px;
      }
    }
    .emptyBox {
      height: 200px;
    }
  }
}
